html, body {
  padding-top: 50px;
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 0;
  overflow-x: hidden !important;
}
*{
  margin: 0;
  padding: :0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  box-shadow: 0 0 15px var(--indigo);
  margin: 1rem auto;
  border-radius: 10px;
}
.btn-primary{
  background: var(--indigo);
  border-color: var(--indigo)
}
.border-primary{
  border-color: var(--indigo) !important;
}
.text-primary{
  color: var(--indigo) !important
}
.bg-primary{
  background: var(--indigo) !important
}
.btn-primary:hover{
  background: #6652ff;
  border-color: var(--indigo)

}
.home-header{
  background: url('/images/books-cover.jpg') no-repeat;
  background-size: 100% 100%;
  border-radius: 10px 10px 0 0;
}
.jumbotron{
  background: transparent;
  min-height: 400px;
}
.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
}
